
/* 
    Author: Kalle Lahtinen
*/

.normal-text {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.bold-text {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.curr-box {
    -fx-background-color: #fae49f;
}

.day-box {
    -fx-cursor: hand; /* Changes cursor to a pointer when hovering */
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 120px;   /* Minimum width */
    -fx-min-height: 150px;  /* Minimum height */
}

.selected-day {
    -fx-background-color: #a5c2f9;
}

.date-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.temp-range {
    -fx-font-size: 14px;
}

.forecast-hour {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.forecast-basic {
    -fx-font-size: 14px;
}

.switch-label-left {
    -fx-font-size: 12px;
    -fx-padding: 5px 0px 5px 10px;
}

.switch-label-right {
    -fx-font-size: 12px;
    -fx-padding: 5px 0px 5px 0px;
}

.toggle-switch {
    /* Left padding to push the control towards the center of it's internal container' */
    -fx-padding: 0 0 0 20px;
}