
/* 
    CSS styling for weather application

    Author: Kalle Lahtinen
*/

.normal-text {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.bold-text {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#cityTextLabel {
    -fx-font-family: "Cambria";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.curr-box {
    -fx-background-color: #fae49f;
}

.day-box {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 120px;
    -fx-min-height: 150px;
}

.selected-day {
    -fx-background-color: #a5c2f9;
}

.date-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.temp-range {
    -fx-font-size: 14px;
}

#currentWeatherIcon {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}

#currentTemperature {
    -fx-font-size: 60px;
}

#currentDegree {
    -fx-font-size: 40px;
}

.forecast-hour {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.forecast-basic {
    -fx-font-size: 14px;
}

.detail-text {
    -fx-font-size: 14px;
}

.switch-label-left {
    -fx-font-size: 12px;
    -fx-padding: 5px 0px 5px 10px;
}

.switch-label-right {
    -fx-font-size: 12px;
    -fx-padding: 5px 0px 5px 0px;
}

.toggle-switch {
    /* Left padding to push the control towards the center of it's internal container' */
    -fx-padding: 0 0 0 20px;
    -fx-cursor: hand;
}

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; /* This line is for very subtle focus color used in some JavaFX themes */
}

.list-cell {
    -fx-background-color: white; /* Set your desired color */
    -fx-padding: 10 10 0 10;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: -fx-selection-bar; /* color for selected item */
    -fx-text-fill: -fx-selection-bar-text;
}

.list-cell:empty {
    -fx-background-color: white;
}

.list-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;  
}

.list-row {
    -fx-font-size: 17px
}

#list-remove-btn {
    -fx-background-color: transparent; 
    -fx-text-fill: gray;
    -fx-font-weight: bold;  
    -fx-cursor: hand;
}